html {
    background-image: url(../assignments/images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-size: cover;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

}

/*#region*/ /*header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-image: url(../assignments/images/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg);
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100px;
    font-size: 14px;
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 100%);
}

h1 {
    padding: 0.5em;
    align-self: center;
    padding-bottom: 1.5em;
    text-shadow: 5px gray 5px gray 1px plum;
}

header>img {
    height: 130px;
    width: 130px;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    header {
        clip-path: polygon(0 0, 100% 0, 100% 60px, 0 100%);
        font-size: 20px;
    }

    h1 {
        padding-bottom: 1em;
    }
}

/*#endregion*/

/*#region*/ /*main*/

main {
    padding: 0.5em;
    padding-top: 1em;
}

/*#region*/ /*grid*/
#grid {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 3 minmax(90px, 1fr);
    grid-template-rows: 3 auto;
}

.one {
    grid-row: 1 / 2;
    grid-column: 1;
    margin-top: 3em;
    background-color: ghostwhite;
    box-shadow: 5px 5px 5px gray;
    padding: 0.5em;
    align-self: flex-start;
}

.two {
    grid-row: 1;
    grid-column: 2 / 4;
    margin-top: 2em;
    background-color: ghostwhite;
    box-shadow: 5px 5px 5px gray;
    padding: 0.5em;
    align-self: flex-start;
}

.three {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    background-color: ghostwhite;
    box-shadow: 5px 5px 5px gray;
    padding: 0.5em;
    align-self: flex-end;
    margin-top: 1em;
    margin-bottom: 2em;
}

.five {
    grid-row: 3;
    grid-column: 1;
    margin-top: 3em;
    background-color: ghostwhite;
    box-shadow: 5px 5px 5px gray;
    padding: 0.5em;
    margin-bottom: 4em;
    align-self: flex-start;
}

.six {
    grid-row: 3;
    grid-column: 2;
    margin-top: 2em;
    background-color: ghostwhite;
    box-shadow: 5px 5px 5px gray;
    padding: 0.5em;
    align-self: flex-start;
}

.seven {
    grid-row: 3;
    grid-column: 3;
    margin-top: 1em;
    background-color: ghostwhite;
    box-shadow: 5px 5px 5px gray;
    padding: 0.5em;
    align-self: flex-start;
}


@media screen and (min-width: 500px) {
    .two {
        grid-row: 1;
        grid-column: 2 / 3;
    }

    .three {
        grid-row: 1;
        grid-column: 3 / 4;
        align-self: flex-start;
    }
}

/*#endregion*/

/*#endregion*/

/*#region*/ /*footer*/
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    footer {
        position: relative;
        bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
    }
}

/*#endregion*/