body {
    margin: 0;
}

/*#region*/ /*flexbox*/
header {
    font-family: sans-serif;
    height: auto;
}

header>div {
    background-color: rgb(87, 87, 87);
    display: flex;
    height: 7em;
}

header>div>h1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: rgb(245, 210, 165);
    align-self: center;
    max-height: 7em;
}

header>div>img {
    height: 7em;
    width: 7em;
}

nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
}

nav>a {
    color: white;
    text-decoration: none;
}

/*#endregion*/

/*#region*/ /*grid*/
main {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
    min-width: 0;
    min-height: 0;
}

main>div>h1 {
    color: rgb(245, 210, 165);
}

div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#i1 {
    grid-column: 1;
    grid-row: 1;
}

#i2 {
    grid-column: 2;
    grid-row: 1;
}

#i3 {
    grid-column: 3;
    grid-row: 1;
}

#i4 {
    grid-column: 4;
    grid-row: 1;
}

#i5 {
    grid-column: 1;
    grid-row: 2;
}

#text {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    padding: 1em;
}

#i7 {
    grid-column: 4;
    grid-row: 2;
}

#i8 {
    grid-column: 1;
    grid-row: 3;
}

#i9 {
    grid-column: 2;
    grid-row: 3;
}

#i10 {
    grid-column: 3;
    grid-row: 3;
}

#i11 {
    grid-column: 4;
    grid-row: 3;
}

/*#endregion*/

/*#region*/ /*footer*/
footer {
    font-family: sans-serif;
    color: white;
    background-color: black;
    position: static;
    margin-bottom: -10px;
    text-align: center;
    font-size: 12px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 9px;
    padding-right: 9px;
    width: auto;
}

/*#endregion*/