body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

/*#region*/ /*header*/
header {
    font-family: sans-serif;
}

header>div {
    background-color: black;
    display: flex;
    height: 7em;
}

header>div>h1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: floralwhite;
    align-self: center;
    max-height: 7em;
}

header>div>img {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 71% 25%, 98% 35%, 80% 62%, 75% 91%, 50% 85%, 25% 91%, 20% 62%, 2% 35%, 29% 25%);
}

/*#endregion*/

/*#region*/ /*main*/
main {
    background-color: black;
    color: white;
    padding-top: 0.5em;
}

main>p {
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

/*#region*/ /*shape-outside,filters*/
main>div>img {
    max-width: 100%;
}

#i1 {
    float: right;
    -webkit-clip-path: circle(40% at 80% 55%);
    clip-path: circle(40% at 80% 55%);
    shape-outside: circle(40% at 80% 55%);
    margin-left: 1em;
    width: 30%;
    max-width: 30%;
    filter: brightness(150%);
}

#i2 {
    float: left;
    -webkit-clip-path: ellipse(30% 30% at 50% 50%);
    clip-path: ellipse(30% 30% at 50% 50%);
    shape-outside: ellipse(30% 30% at 50% 50%);
    margin: 1em;
    margin-left: -5%;
    width: 30%;
    max-width: 30%;
    max-height: 100%;
    filter: sepia(50%);
}

/*#endregion*/

/*#region*/
/*blend-mode,masking*/
.blend {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-image:
        url(/assignments/images/evie-s-Ioq6qEibtbU-unsplash.jpg),
        url(/assignments/images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-blend-mode: multiply;
    margin-left: auto;
    margin-right: auto;
    -webkit-mask-image: url(/assignments/images/Untitled-1mask.svg);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(/assignments/images/Untitled-1mask.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

/*#endregion*/

/*#endregion*/

/*#region*/ /*footer*/
footer {
    font-family: sans-serif;
    color: white;
    background-color: black;
    position: static;
    text-align: center;
    font-size: 12px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/*#endregion*/