body { font-family: sans-serif;
background-color: lavender;
}
h1 {
    text-align: center;
}
footer {
    position: fixed;
    left: 2%;
    right: 2%;
    bottom: 1%;
    width: auto;
    height: auto;
    text-align: center;
    
}